*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  background: #f1eeee;
  height: 30vh;
}
.circle{
  position: fixed;
  border-radius: 50%;
  z-index: 10;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle:nth-child(1){
  top: 21%;
  left: 24%;
}
.circle:nth-child(2){
  top: 6%;
  left: 30%;
}
.circle:nth-child(3){
  top: 20%;
  left: 90%;
}
.circle:nth-child(4){
  top: 15%;
  left: 70%;
}
.circle:nth-child(5){
  top: 1%;
  left: 90%;
}
.circle:nth-child(6){
  top: 25%;
  left: 13%;
}
.circle:nth-child(7){
  top: 15%;
  left: -2%;
}
.circle:nth-child(8){
  top: 5%;
  left: 10%;
}
.circle:nth-child(9){
  top: 4%;
  left: 61%;
}
.circle:nth-child(10){
  top: 21%;
  left: 51%;
}
.blue{
  background: blue;
}
.red{
  background: red;
}
.orange{
  background: orange;
}
.yellow{
  background: yellow;
}
.pink{
  background: pink;
}
.lg{
  width: 3rem;
  height: 3rem;
  transform-origin: 54% center;
}
.md{
  width: 2rem;
  height: 2rem;
  transform-origin: 44% center;
}
.sm{
  width: 1rem;
  height: 1rem;
  transform-origin: 40% center;
}
.xs{
  width: .6rem;
  height: .6rem;
  transform-origin: 52% center;
}
.car{
  position: fixed;
  top: 11%;
  width: 3rem;
  animation-name: drive;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
img{
  width: 100%;
}
.time-xs{
  animation-duration: 3s;
}
.time-sm{
  animation-duration: 4s;
}
.time-md{
  animation-duration: 5s;
}
.time-lg{
  animation-duration: 6s;
}
.reverse{
  animation-duration: reverse;
}

@keyframes rotate {
  100%{
    transform: rotate(-360deg);
  }
}
@keyframes drive {
  from{
    left: -10%;
  }
  to{
    left: 150%;
  }
}
