*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
  background: #ccc;
  height: 30vh;
}
.circle{
  position: fixed;
  border-radius: 50%;
}
.circle:nth-child(1){
  top: 21%;
  left: 24%;
}
.circle:nth-child(2){
  top: 5%;
  left: 25%;
}
.circle:nth-child(3){
  top: 20%;
  left: 90%;
}
.circle:nth-child(4){
  top: 15%;
  left: 70%;
}
.circle:nth-child(5){
  top: 1%;
  left: 90%;
}
.circle:nth-child(6){
  top: 25%;
  left: 13%;
}
.circle:nth-child(7){
  top: 15%;
  left: -2%;
}
.circle:nth-child(8){
  top: 5%;
  left: 10%;
}
.circle:nth-child(9){
  top: 4%;
  left: 61%;
}
.circle:nth-child(10){
  top: 21%;
  left: 51%;
}
.blue{
  background: blue;
}
.red{
  background: red;
}
.orange{
  background: orange;
}
.yellow{
  background: yellow;
}
.pink{
  background: pink;
}
.lg{
  width: 3rem;
  height: 3rem;
}
.md{
  width: 2rem;
  height: 2rem;
}
.sm{
  width: 1.2rem;
  height: 1.2rem;
}
.xs{
  width: .6rem;
  height: .6rem;
}
.car{
  width: 2rem;
}
img{
  width: 100%;
}
