*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a:hover{
  text-decoration: none;
}
body{
  background: #dedada;
}
#nav{
  margin-top: .8rem;
  height: 10vh;
}
#nav > ul{
  display: flex;
  justify-content: space-around;
}
#nav > ul > li{
  position: relative;
  padding: .5rem;
  min-width: 23vw;
  text-align: center;
  background: white;
}
#nav > ul > li > a{
  font-size: .8rem;
  color: #000;
}
li.blue{
  border-top: 5px solid lightblue;
}
li.blue li:hover a{
  background: lightblue;
  color: white;
}
li.blue ul.sub ul li a{
  background: lightblue;
}
li.blue ul.sub ul li a:hover{
  background: #0d9be5;
}
li.green{
  border-top: 5px solid lightgreen;
}
li.green li:hover a{
  background: lightgreen;
  color: white;
}
li.green ul.sub ul li a{
  background: lightgreen;
}
li.green ul.sub ul li a:hover{
  background: #248e3c;
}
li.red{
  border-top: 5px solid red;
}
li.red li:hover a{
  background: red;
  color: white;
}
li.red ul.sub ul li a{
  background: red;
}
li.red ul.sub ul li a:hover{
  background: #ad3642;
}
li.yellow{
  border-top: 5px solid #ffc107;;
}
li.yellow li:hover a{
  background: #ffc107;;
  color: white;
}
li.yellow ul.sub ul li a{
  background: #ffc107;
}
li.yellow ul.sub ul li a:hover{
  background: #ff8d00;
}
ul.sub{
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 23vw;
}
ul.sub li{
  position: relative;
}
ul.sub > li > a{
  display: block;
  line-height: 40px;
  color: #000;
  font-size: .8rem;
}
ul.sub li ul{
  position: absolute;
  top: 0;
  left: 100%;
  width: 25vw;
}
ul.sub.last li ul{
  left: -100%;
}
ul.sub li ul li a{
  display: block;
  line-height: 40px;
  font-size: .8rem;
  color: #fff;
}


@media (min-width:556px) {
  #nav > ul > li > a{
    font-size: 1rem;
  }
}
