*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a:hover{
  text-decoration: none;
}
body{
  background: #dedada;
}
#nav{
  margin-top: .8rem;
  height: 10vh;
}
#nav > ul{
  display: flex;
  justify-content: space-around;
}
#nav > ul > li{
  position: relative;
  padding: .5rem;
  min-width: 23vw;
  text-align: center;
  background: white;
}
#nav > ul > li > a{
  font-size: .8rem;
  color: #000;
}
li.blue{
  border-top: 5px solid lightblue;
}
li.blue li a:hover{
  background: lightblue;
  color: white;
}
li.green{
  border-top: 5px solid lightgreen;
}
li.green li a:hover{
  background: lightgreen;
  color: white;
}
li.red{
  border-top: 5px solid red;
}
li.red li a:hover{
  background: red;
  color: white;
}
li.yellow{
  border-top: 5px solid #ffc107;;
}
li.yellow li a:hover{
  background: #ffc107;;
  color: white;
}
ul.sub{
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 23vw;
}
ul.sub > li > a{
  display: block;
  line-height: 40px;
  color: #000;
  font-size: .8rem;
}

@media (min-width:556px) {
  #nav > ul > li > a{
    font-size: 1rem;
  }
}
